<h1>about us</h1>
<p>seasista photography are two sisters who live in the beautiful city of Sydney, Australia. Inspired by our passion for taking photos, especially at the beach, we have set up our own photography business. We strive to use our skills to capture everyday images in a unique and individual way.

We hope you enjoy our products as much as we do creating them.</p>
	
<div>
	<p><span>e-Mail </span>
		<a href="mailto:info@seasista.com" style="text-align:right;color:blue;">info@seasista.com</a>
	</p>
</div>
<img src="/menu/about.jpg" width="960" height="200" />

<div>
	<span style="font-size:small">
		<div class="sites-embed-align-left-wrapping-off">
			<div class="sites-embed-border-off sites-embed sites-embed-full-width" style="width:100%;">
				<div class="sites-embed-object-title" style="display:none;">Manly NSW 2095</div>
				<div class="sites-embed-content sites-embed-type-map">
					<iframe src="//maps.google.com/?ll=-33.79631%2C151.286115&amp;spn=0.050928%2C0.087376&amp;ie=UTF8&amp;z=13&amp;t=roadmap&amp;sll=-33.79631%2C151.286115&amp;sspn=0.050928%2C0.087376&amp;q=Manly%20NSW%202095%20Australia%20(Manly%20NSW%202095)&amp;output=embed" title="Manly NSW 2095" width="100%" height="300" frameborder="0" class="map_embed" scrolling="no">
					</iframe>
				</div>
			</div>
		</div>
	</span>
</div> 