<div class="content">
<div style="text-align:center;padding:10px;">
	<!--<h3>
	6 x 4 inch photographic matte photo prints on white card stock with matching white envelopes 
</h3>
<p>Each card is blank on the inside for your own personalised greeting. 
<br />These are great cards for family & friends who love the beach.</p>
<br /> -->
<!-- <h3>Framed 6 x 4 inch photographic matte photo prints.</h3>
<p>Great alternative christmas decorations for the home for anyone who loves the beach.</p>
-->

<div style="text-align:center;padding:10px;">
<p><span>Shop now from </span>
<a href="http://www.etsy.com/shop/seasistaphotography" target="_blank">
	<b>
		<font color="#3d85c6" size="5">Etsy</font>
	</b>
</a>
<span>or</span>
<a href="http://www.ebay.com.au/sch/seasista_photography/m.html?hash=item1c20df4aae&amp;item=120810588846&amp;pt=AU_Party_Supplies&amp;_trksid=p4340.l2562" target="_blank">
	<b>
		<font color="#3d85c6" size="5">eBay</font>
	</b>
</a>
</p>
</div>
</div>
<!-- <div class="content">
	<div style="text-align:center;">
		<h2>Sample Cards & Frames</h2>
		<img src="/card01.jpg" height="320" />	
		<img src="/card04.jpg" height="320" />	
		<img src="/card02.jpg" height="320" />
	</div>
</div> -->
<!-- <div class="content">
	<div style="text-align:center;">
		<img src="/frame01.jpg" height="320" />	
		<img src="/frame02.jpg" height="320" />	
	</div>
</div> -->
<div style="width: 800px;margin: 0px auto;">
	<!-- <div> -->
		<div style="text-align:right;width:800px;background:white;padding-top:20px;">
			<script type='text/javascript' src='http://www.etsy.com/assets/js/etsy_mini_shop.js'>
			</script>
			<script type='text/javascript'>
				new Etsy.Mini(6600089,'gallery',4,5,0,'http://www.etsy.com');
			</script>
		</div>
	<!-- </div> -->
</div>
<div class="content">
<div style="text-align:center;padding:10px;">
<p>If you are interested in any further information please contact us via <a href="mailto:info@seasista.com" style="text-align:right;color:blue;">info@seasista.com</a>  
</p>
</div>
</div>
